---
import Hr from "./Hr.astro";
import Socials from "./Socials.astro";

const currentYear = new Date().getFullYear();

export interface Props {
  noMarginTop?: boolean;
}

const { noMarginTop = false } = Astro.props;
---

<footer class:list={["w-full", { "mt-auto": !noMarginTop }]}>

  <Hr noPadding />

  <br>

  <div class="my-2 flex flex-col items-center whitespace-nowrap sm:flex-row sm:justify-center">
    <p class="text-center">Open Source changes everything!</p>
  </div>

</footer>